h1, h3 {
    color: white;
    font-weight: 700;
}

h1 {
    font-size: 4.25rem;
    line-height: 1;
    margin-top: 1rem;
}

h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

p {
    color: #999;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.m-heading-box {
    margin: 0 2.5rem;
    text-align: center;
}

.heading-box {
    margin-top: 12rem;
}

.scrollBtn {
    border-radius: 16px;
    padding: 6px 18px
}

.typist, .typist h1 {
    position: absolute;
    font-size: 4.75rem;
    top: 6.75rem;
    z-index: -100;
    color: #0f0f0f;
    line-height: 1em;
    letter-spacing: -0.7px;
    margin-bottom: 7rem;
}